<div class="container text-center text-md-start py-5">
  <div class="row mb-4 align-items-center g-3">
    <div class="col-md-2 mb-3 mb-md-0">
      <img src="assets/Service-Detail/Certified.png" class="img-fluid certified-img" alt="Certified 1">
    </div>
    <div class="col-md-2 mb-3 mb-md-0">
      <img src="assets/Service-Detail/Certified.png" class="img-fluid certified-img" alt="Certified 2">
    </div>
    <div class="col-md-2 mb-3 mb-md-0">
      <img src="assets/Service-Detail/Certified.png" class="img-fluid certified-img" alt="Certified 3">
    </div>

    <div class="col-md-2">
      <h3 class="fw-bold stat-heading title">15+</h3>
      <p class="stat-text">YEARS EXPERIENCE</p>
    </div>
    <div class="col-md-2">
      <h3 class="fw-bold stat-heading title">300+</h3>
      <p class="stat-text">COMPANIES PARTNERED</p>
    </div>
    <div class="col-md-2">
      <h3 class="fw-bold stat-heading title">20k+</h3>
      <p class="stat-text">CANDIDATES PLACED</p>
    </div>
  </div>
</div>