<nav class="mt-4 d-flex justify-content-end">
    @if (totalPages > 0) {
    <ul class="pagination flex-wrap justify-content-center gap-1">

        <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)">
                Previous
            </button>
        </li>

        @for (page of [].constructor(totalPages); let i = $index; track i) {
        <li class="page-item" [class.active]="currentPage === i + 1">
            <button class="page-link btn-primary" (click)="changePage(i + 1)">
                {{ i + 1 }}
            </button>
        </li>
        }

    </ul>
    }
</nav>