<div class="container my-4 my-md-5 services-section text-center">

  <h2 class="fw-bold mb-5 heading title section-line">
    {{ 'TESTIMONIALS.TITLE' | translate }}
  </h2>

  <div class="row justify-content-center g-4">

    <!-- Testimonial 1 -->
    <div class="col-md-4">
      <div class="card shadow rounded-3 border-0 p-3 text-start">
        <div class="d-flex align-items-center mb-3">
          <img src="assets/Testimonial/Testimonial.jpg"
               alt="Mahmoud Zaki"
               class="rounded-circle me-3 testimonial-img">
          <div>
            <h5 class="mb-0 fw-bold name-title">{{ 'TESTIMONIALS.CARD1.NAME' | translate }}</h5>
            <small class="text-muted">{{ 'TESTIMONIALS.CARD1.ROLE' | translate }}</small>
          </div>
        </div>
        <p class="text-secondary mb-0">
          {{ 'TESTIMONIALS.CARD1.TEXT' | translate }}
        </p>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="col-md-4">
      <div class="card shadow rounded-3 border-0 p-3 text-start">
        <div class="d-flex align-items-center mb-3">
          <img src="assets/Testimonial/Image2.jpg"
               alt="Mr. Abdullah Hussain"
               class="rounded-circle me-3 testimonial-img">
          <div>
            <h5 class="mb-0 fw-bold title">{{ 'TESTIMONIALS.CARD2.NAME' | translate }}</h5>
            <small class="text-muted">{{ 'TESTIMONIALS.CARD2.ROLE' | translate }}</small>
          </div>
        </div>
        <p class="text-secondary mb-0">
          {{ 'TESTIMONIALS.CARD2.TEXT' | translate }}
        </p>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="col-md-4">
      <div class="card shadow rounded-3 border-0 p-3 text-start h-100">
        <div class="d-flex align-items-center mb-3">
          <img src="assets/Testimonial/Image3.jpg"
               alt="Mr. Abdullah Hussain"
               class="rounded-circle me-3 testimonial-img">
          <div>
            <h5 class="mb-0 fw-bold title">{{ 'TESTIMONIALS.CARD3.NAME' | translate }}</h5>
            <small class="text-muted">{{ 'TESTIMONIALS.CARD3.ROLE' | translate }}</small>
          </div>
        </div>
        <p class="text-secondary mb-0">
          {{ 'TESTIMONIALS.CARD3.TEXT' | translate }}
        </p>
      </div>
    </div>

  </div>

</div>
